extends ../layout/main

block variables
  - var title = 'Обработка ПД'
  - var page = 'privacy'
  - var style = 'black'

block content
  .privacy-page
    .container
      p Текст согласия с обработкой ПД