@font-face 
    font-family 'Montserrat'
    src url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff'),
        url('Montserrat-ExtraBold.eot') format('embedded-opentype'),
        url('Montserrat-ExtraBold.svg') format('svg')
    font-weight 900
    font-style normal

@font-face 
    font-family 'Montserrat'
    src url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.eot') format('embedded-opentype'),
        url('Montserrat-Regular.svg') format('svg')
    font-weight normal
    font-style normal