// ЦВЕТА


// РАЗМЕРЫ
    breakpoint-phoneS = 360px
    breakpoint-phoneM = 420px
    breakpoint-phoneL = 470px
    breakpoint-tabletS = 768px
    breakpoint-tabletM = 900px
    breakpoint-tabletL = 1200px
    breakpoint-laptop = 1600px

// ШРИФТЫ
    font-montserrat = 'Montserrat', Arial, sans-serif
