.button
    background-color: #fff;
    font-family: Montserrat;
    font-size: rem(20)
    font-weight: normal;
    font-style: normal;
    padding: 15px 42px
    color: #21a2ad
    border-radius: 25px;
    cursor pointer
    transition: 0.3s
    &:hover
        color: #ffffff
        background-color: #21a2ad
    @media (max-width: 1200px) 
        padding 12px 35px
        border-radius: 25px;
    @media (max-width: 900px) 
        padding: 10px 25px
    @media (max-width: 420px)
        padding 8px 15px
    @media (max-width: 360px)
        padding 7px 13px


    
