.menu__list
    display flex
    margin-right 60px

.menu__item
    font-family: Montserrat;
    font-size: rem(20)
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-right 19px
    &:last-child
        margin-right 0px

.registration .header .menu__link
    color #000
    transition: 0.3s
    &:hover
        color: #21a2ad

.menu__link
    color #fff
    transition: 0.3s
    &:hover
        color: #21a2ad