    
.wrapper
    display flex
    flex-direction: column
    justify-content space-between
    position relative
    flex auto
    height 100vh
    min-height 750px

.wrapper.index
    background:url(../img/content/hero.jpg) 
    background-repeat: no-repeat
    background-size: cover
    z-index 0
    min-height 600px