.footer
    position absolute
    bottom 20px
    left 50%
    transform: translateX(-50%)
    color: #fff
    @media (max-width: breakpoint-tabletL) 
        margin-bottom 10px
    &.footer-black
        position static
        bottom 0
        left 0
        transform: none
        padding-bottom 20px
        .footer__comp,
        .footer__reserved
            color: #000
        @media (max-width: breakpoint-tabletM)
            position static
            transform: translateX(0)
            margin-bottom 10px
            margin-top 50px

.footer__copyright
    display flex
    flex-direction: column
    align-items: center
    font-size: rem(20)
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    line-height: 1;
    @media (max-width: breakpoint-laptop) 
        font-size: rem(18)
    @media (max-width: breakpoint-tabletM) 
        font-size: rem(16)
    @media (max-width: breakpoint-phone)
        font-size: rem(12)
