
.hero
    display flex
    justify-content center
    align-items: center
    color: #fff
    z-index 0

.hero__content
    display flex
    flex-direction: column
    align-items: center
    border: solid 2px #ffffff
    border-radius: 25px
    border-bottom-left-radius: 0px
    margin 272px 0 15px 0
    @media (max-width: 1600px) 
        margin: 230px 0 15px
    @media (max-width: 1200px) 
        margin: 200px 0 15px;
    @media (max-width: 420px)
        margin-top 150px

.hero__title
    font-size: rem(30)
    font-weight: normal;
    font-style: normal;
    padding-top: 70px
    padding-bottom 64px;
    line-height: 0.28;
    @media (max-width: 1600px) 
        font-size: rem(28)
        padding-top 65px
        padding-bottom 55px 
    @media (max-width: 1200px) 
        padding-top 60px
        padding-bottom 50px;
    @media (max-width: 900px) 
        padding-top 50px
        padding-bottom 35px
    @media (max-width: 768px)
        padding-top 40px
        padding-bottom 30px
    @media (max-width: 420px)
        padding-top 30px
        padding-bottom 20px
        font-size: rem(25)

.hero__form
    display flex
    flex-direction: column
    align-items: center
    margin-bottom 32px
    padding 0 98px
    @media (max-width: 1600px) 
        margin-bottom 28px
        padding: 0 88px
    @media (max-width: 1200px) 
        margin-bottom 22px
        padding 0 78px
    @media (max-width: 900px) 
        margin-bottom 17px
        padding 0 63px
    @media (max-width: 768px)
        margin-bottom 15px
        padding 0 45px
    @media (max-width: 420px)
        margin-bottom 10px
        padding: 0 20px

.hero__input
    width: 420px;
    height: 70px;
    border: solid 2px #ffffff;
    border-radius: 25px;
    background: none
    margin-bottom 18px
    font-family: Montserrat;
    font-size: rem(30)
    font-weight: normal;
    font-style: normal;
    line-height: 0.28;
    padding-left: 30px
    color #fff
    &::placeholder 
        color: #fff
    &.login
        border-bottom-left-radius: 0px
    &.password
        border-top-left-radius: 0px
    @media (max-width: 1600px) 
        width 380px
        height 65px
        padding-left 25px
        font-size: rem(26)
    @media (max-width: 1200px) 
        width 350px
        height 60px
        margin-bottom 15px
        padding-left 20px
    @media (max-width: 900px) 
        width 320px
        height 50px
        margin-bottom 12px
        padding-left 15px
        font-size: rem(23)
    @media (max-width: 768px)
        width 270px
        height 40px
        margin-bottom 10px
        font-size: rem(20)
    @media (max-width: 420px)
        width 240px
        height 35px
        font-size: rem(18)
.hero__button.button
    border-top-left-radius: 0px
    border-top-right-radius: 0px
    padding: 24px 67px
    font-family: Montserrat;
    font-size: rem(30)
    line-height: rem(20)
    font-weight: normal;
    font-style: normal;
    color: #21a2ad;
    @media (max-width: 1600px) 
        padding: 22px 63px
        font-size: rem(28)
    @media (max-width: 1200px) 
        padding 20px 60px
        font-size: rem(26)
    @media (max-width: 900px) 
        padding: 16px 40px
    @media (max-width: 768px)
        padding 13px 30px
     @media (max-width: 420px)
         padding 12px 25px
    

.hero__reg,
.hero__paswrec
    font-size: rem(20)
    font-weight: normal;
    color: #ffffff;
    cursor pointer
    @media (max-width: 768px)
        font-size: rem(18)
    @media (max-width: 420px)
        font-size: rem(16)

.hero__reg
    margin-bottom:10px
    @media (max-width: 768px)
        margin-bottom 8px

.hero__paswrec
    padding-bottom 45px
    @media (max-width: 1600px) 
        padding-bottom 40px
    @media (max-width: 1200px) 
        padding-bottom 35px
    @media (max-width: 900px) 
        padding-bottom 30px
    @media (max-width: 768px)
        padding-bottom 25px
    @media (max-width: 420px)
        padding-bottom 20px