.privacy-page
  margin-top 231px;
  @media (max-width: breakpoint-laptop) 
      margin-top 215px
  @media (max-width: breakpoint-tabletL) 
      margin-top 200px
  @media (max-width: breakpoint-tabletM) 
      margin-top 180px
  @media (max-width: breakpoint-tabletS) 
      margin-top 160px
  @media (max-width: breakpoint-phone) 
      margin-top 150px