section.hero
    .hero__content
        h2.hero__title= content.hero.title
        form.hero__form(action="")
            input.hero__input.login(type="text" placeholder="Логин")
            input.hero__input.password(type="password" placeholder="Пароль")
            button.hero__button.button(type="submit")= content.hero.button
        span.hero__reg= content.hero.reg
        span.hero__paswrec= content.hero.paswrec
        